body {
    background-image: url(../images/whitediamond.png)
}

.title {
    background-color: #dddddd;
    font-size: 45px;
}

.instructions {
    border-style: inset;
    border-color: #000000;
}

#newGameBtn {
    border:none;
    border-style:none;
    border-radius: 20px;
    background-color:#6eb11c ;
    color: #ffffff;
    font-size: 26px;
    box-shadow: 0 6px #808080;
    margin-top:6px;
    cursor: pointer;
    outline:none;
}

#newGameBtn:active{
    transform: translateY(3px);
    box-shadow: #636262
}

#result {
    display: inline;
    font-size: 28;
    margin: auto;
}

.crystals {
    height:100px;
    width:100px;
}